.main-content {
	margin-top: 100px;
}
input {
	margin-bottom: 7px;
}
form.navbar-form input {
	margin-bottom: 0px;
}

/*-- index.html --*/

.last-edit-date {
	float: right;
}

/*-- signin.html --*/
body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat; 
}

.remember-me span {
	position: relative;
	left: 4px;
	bottom: 2px;
}
#vertical-tape {
	position: fixed;
	left: -130px;
	width: 130px;
	height: 10000px;
	background-color: black;
	filter: alpha(Opacity=70);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
#horizontal-tape {
	position: fixed;
	bottom: -130px;
	width: 10000px;
	height: 130px;
	background-color: black;
	filter: alpha(Opacity=70);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
#introduction {
	display: inline-block;
	color: white;
	position: absolute;
	bottom: 18%;
	left: 30%;
	height: 130px;
	font-size: 30px;
	filter: alpha(Opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
#introduction p {
	margin-top: 30px;
	display: inline-block;
	margin-right: 20px;
}
#introduction p:first-letter {
	font-weight: bolder;
	font-size: 65px;
}


#to-signin, #to-signup {
	margin-bottom: 15px;
	display: inline-block;
}
#curtain {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}
.sign-box {
	display: none;
	border: 1px solid #e0e0e0;
	background-color: white;
	border-radius: 5px;
}

.sign-box-head {
	padding:25px;
}
.sign-box-body {
	padding:25px;
	background-color: #f0f0f0;
}

/*-- editArticle.html --*/
.article-content textarea {
	height: 700px;
	resize: none;
}
.article-buttons {
	float: right;
	margin-top: 15px;
	margin-bottom: 30px;
}
.article-buttons button {
	margin-left: 5px;
	width: 80px;
}