.main-content {
	margin-top: 100px;
}
input {
	margin-bottom: 5px;
}
form.navbar-form input {
	margin-bottom: 0px;
}

/*-- index.html --*/

.last-edit-date {
	float: right;
}

/*-- signin.html --*/
body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat; 
}

.vertical-tape {
	position: fixed;
	left: 20%;
	width: 130px;
	height: 100%;
	background-color: black;
	filter: alpha(Opacity=70);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
.horizontal-tape {
	position: fixed;
	top: 60%;
	width: 100%;
	height: 130px;
	background-color: black;
	filter: alpha(Opacity=70);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
.introduction {
	display: inline-block;
	color: white;
	position: fixed;
	top: 60%;
	left: 30%;
	height: 130px;
	font-size: 30px;
	filter: alpha(Opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
.introduction p {
	margin-top: 30px;
	display: inline-block;
	margin-right: 20px;
}
.introduction p:first-letter {
	font-weight: bolder;
	font-size: 65px;
}
.to-signin {
	margin-bottom: 15px;
	display: inline-block;
}
.curtain {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	/*filter: alpha(Opacity=80);
	-moz-opacity: 0.5;
	opacity: 0.5;*/
}
.signin-box{
	margin-top: 40px;
	border: 1px solid #e0e0e0;
	background-color: white;
	border-radius: 5px;
}

.signin-box-head {
	padding:25px;
}
.signin-box-body {
	padding:25px;
	background-color: #f0f0f0;
}

/*-- editArticle.html --*/
.article-content textarea {
	height: 700px;
	resize: none;
}
.article-buttons {
	float: right;
	margin-top: 15px;
	margin-bottom: 30px;
}
.article-buttons button {
	margin-left: 5px;
	width: 80px;
}